RewriteEngine on

 # redirect everything to https
 RewriteCond %{HTTP:X-Forwarded-Proto} !https
 RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

 # for german browsers use index_de.html
 RewriteCond %{HTTP:Accept-Language} (de) [NC]
 RewriteRule ^$ index_de.html [L,NS]